<nav class="sidebar">
  <a href="/" class="koop-logo">
    <img src="https://koopjs.github.io/logo.png" alt="Koop">
  </a>
  <ul>
    <li><a class="site-link" href="/docs/setup/">Setup</a></li>
    <li><a class="site-link" href="/docs/">Docs</a></li>
    <li><a class="site-link" href="http://github.com/koopjs">Github</a></li>
  </ul>
</nav>

{{outlet}}
